<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simpligo.pln</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation-flex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
  <link href="/static/css/simpligo-pln.css" rel="stylesheet">  
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">  

  <style type="text/css">
    .clozeSentence {
      font-size: 25px;
      margin-top:50px;
    }
    
    .clozeWord {
      font-size: 25px;
      height: 50px;
      width: 300px;
    }

  </style>

</head>
<body>
  <a href="https://github.com/sidleal/simpligo-pln"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  
  
<div id="header">
    <div id="logo">Simpligo.pln</div>
    <div id="slogan">Plataforma de Apoio à Simplificação na Língua Portuguesa</div>
  </div>
  <div id="subheader"></div>
  
  <div class="row">
    <div class="small-12 centered columns">
      
      <div id="inicio">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <h2>Teste Cloze - Previsibilidade</h2>
            <p>Olá! Você está na tela inicial de uma tarefa que necessita de sua colaboração! Obrigado por participar!</p>
            <p>Essa tarefa consiste em fazer você tentar adivinhar o que vem escrito em um parágrafo. Você verá um exemplo, e irá passar por uma fase de treinamento.</p>
            <p>Se concordar participar desta pesquisa, por favor, leia o texto (TCLE simplificado) abaixo e clique em concordar. Caso contrário, agradecemos sua boa vontade de ter lido até aqui.</p>

            <!--
            <p style="color:red;">TO DO: Trocar o vídeo!!!</p>
            <div style="text-align: center;margin-bottom: 30px;">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/SPZ1J1iXon4?autoplay=0"></iframe>
            </div>
            -->

            <h4>Termo de compromisso:</h4>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan lorem posuere, tincidunt libero eget, volutpat est. Nullam eleifend erat risus, ac facilisis erat sollicitudin ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tincidunt, augue eu aliquet interdum, est eros tempus velit, non pellentesque turpis lacus vitae nisi. Nulla ac fringilla felis. Pellentesque id placerat ipsum. Mauris odio ex, tincidunt ut finibus nec, gravida at lectus. Maecenas lorem sem, egestas ut libero sit amet, faucibus iaculis sapien.</p>
              <p>Morbi aliquet lorem at arcu elementum maximus. Sed vestibulum nec risus sit amet lobortis. Nullam accumsan eleifend odio, maximus vehicula arcu pharetra placerat. Aenean nec mollis nisi, at volutpat leo. Cras sed risus tristique felis porttitor blandit eu eu turpis. Quisque nec sapien nec nisi fringilla maximus. Etiam eu arcu vel lorem venenatis molestie. Proin mattis ligula vitae felis tempus efficitur. Phasellus porta nibh arcu, ac hendrerit augue faucibus quis. Nam non molestie elit.</p>
            </div>
  
            <div style="text-align: center;">
              <button onclick="showForm();" style="margin:30px;" id="btnContinue" class="default"><i class="fa fa-play fa-2x"></i><br/>Concordo com o termo e quero continuar</button>
            </div>
          </div>
        </div>
      </div>

      <div id="form" style="display:none">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <h2>Dados do Participante</h2>
            <p>Por favor, preencha os dados abaixo antes de continuar.</p>

            <label for="participantName">Nome:</label>
            <input type="text" id="participantName" placeholder="seu nome"/>
            <label for="participantBirthdate">Data de nascimento:</label>
            <input type="text" id="participantBirthdate" placeholder="dd/mm/aaaa"/>
            <label for="participantEmail">Email:</label>
            <input type="text" id="participantEmail" placeholder="nome@exemplo.com"/>
            <label for="participantPhone">Telefone de contato:</label>
            <input type="text" id="participantPhone" placeholder="(00)00000-0000"/>
            <label for="participantRG">RG:</label>
            <input type="text" id="participantRG" placeholder="0000000-0"/>
            <label for="participantCPF">CPF:</label>
            <input type="text" id="participantCPF" placeholder="000.000.000-00"/>
<!--
            <label for="participantDegree">Grau de instrução:</label>
            <select id="participantDegree">
              <option value="">Selecione...</option>
              <option value="fund">Ensino Fundamental</option>
              <option value="med">Ensino Médio</option>
              <option value="sup">Ensino Superior</option>
              <option value="pos">Pós-Graduação</option>
            </select>
-->
            <label for="participantOrg">Universidade:</label>
            <select id="participantOrg">
              <option value="">Selecione...</option>
              <option value="uspsc">USP - São Carlos</option>
              <option value="ufc">Universidade Federal do Ceará</option>
              <option value="pucrj">PUC - Rio de Janeiro</option>
              <option value="utfpr">Universidade Tecn. Federal Paraná - Toledo</option>
              <option value="ufabc">Universidade Federal do ABC</option>
              <option value="uerj">Universidade Estadual do RJ</option>
              <option value="outra">Outra</option> 
            </select>
            <label for="participantRA">Número de Registro:</label>
            <input type="text" id="participantRA" placeholder="Registro Acadêmico"/>
            <label for="participantSem">Semestre em curso:</label>
            <select id="participantSem">
                <option value="">Selecione...</option>
                <option value="1">1.o Semestre</option>
                <option value="2">2.o Semestre</option>
                <option value="3">3.o Semestre</option>
                <option value="4">4.o Semestre</option>
                <option value="5">5.o Semestre</option>
                <option value="6">6.o Semestre</option>
                <option value="7">7.o Semestre</option>
                <option value="8">8.o Semestre</option>
              </select>
  
              <p>Bem, agora você vai passar pela fase de treinamento para entender como se faz a tarefa. Preparado(a)? Clique no botão abaixo:</p>

            <div style="text-align: center;">
              <button onclick="continueTest('[[ .Code ]]')" style="margin:30px;" id="btnContinue" class="default"><i class="fa fa-play fa-2x"></i><br/>Continuar</button>
            </div>
          </div>
        </div>
      </div>

      <div id="train" style="display:none">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <h2>Treinamento</h2>
            <p>A princípio, você verá apenas a primeira palavra de um pequeno parágrafo, como abaixo. Seu papel é adicionar a palavra que você acredita vir a seguir. A cada palavra adicionada, o parágrafo será atualizado. Esse primeiro parágrafo é apenas um treino.</p>
            <p>A maneira mais fácil de entender é praticando, portanto, mãos à obra!</p>

            <p id="statusTestTrain" style="font-weight:bold;">Treinamento - Palavra x de xx</p>
            <p>(Digite a próxima palavra e depois tecle enter, ou clique no botão.)</p>

            <label id="clozeSentenceTrain" for="clozeWordTrain" class="clozeSentence">...</label>
            <input type="text" id="clozeWordTrain" placeholder="" class="clozeWord"/>
            <button onclick="nextWordTrainAction()" id="btnNextWordTrain" class="default" style="margin-top: 50px;">Próxima</button>

            <p style="display:none" class="clozeSentence" id="msgEndTrain">A fase de treinamento terminou. Agora, pedimos que fique atento e que complete com a palavra que vem à sua cabeça à medida que vai lendo o parágrafo. Lembramos que você lê apenas a primeira palavra de cada sentença. A partir da segunda, já é sua tarefa propor uma palavra para complementar o texto.</p>
            <button onclick="showApply()" style="display:none" id="btnShowApply" class="default" style="margin-top: 50px;">Começar o teste</button>
 
          </div>
        </div>
      </div>

      <div id="apply" style="display:none">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <p id="statusTest">Teste x de x - Palavra x de xx</p>
            <p>(Digite a próxima palavra e depois tecle enter, ou clique no botão.)</p>
            <label id="clozeSentence" for="clozeWord" class="clozeSentence">...</label>
            <input type="text" id="clozeWord" placeholder="" class="clozeWord"/>
            <button onclick="nextWordAction()" id="btnNextWord" class="default" style="margin-top: 50px;">Próxima</button>

            <p style="display:none" class="clozeSentence" id="msgEndParagraph">Parabéns! Você chegou ao final do parágrafo, agora vamos ao próximo!</p>
            <button onclick="nextParagraph()" style="display:none" id="btnNextPar" class="default" style="margin-top: 50px;">Próximo Parágrafo</button>
            
            <p style="display:none" class="clozeSentence" id="msgEndTest">O teste foi finalizado. Parabéns! Agradecemos imensamente sua participação. Pode fechar essa página. Tudo foi gravado corretamente.</p>

          </div>
        </div>
      </div>

    </div>

  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/simpligo-pln.js?[[ .StaticHash ]]"></script>
  <script src="/static/js/cloze_apply.js?[[ .StaticHash ]]"></script>

</body>
</html>
