<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simpligo.pln</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation-flex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
  <link href="/static/css/simpligo-pln.css" rel="stylesheet">  
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">  

  <style type="text/css">
    .clozeSentence {
      font-size: 25px;
      margin-top:50px;
    }
    
    .clozeWord {
      font-size: 25px;
      height: 50px;
      width: 300px;
    }

    p {
      text-align: justify;
    }

  </style>

</head>
<body>
  <a href="https://github.com/sidleal/simpligo-pln"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  
  
<div id="header">
    <div id="logo">Simpligo.pln</div>
    <div id="slogan">Plataforma de Apoio à Simplificação na Língua Portuguesa</div>
  </div>
  <div id="subheader"></div>
  
  <div class="row">
    <div class="small-12 centered columns">
      
      <div id="inicio">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <h2>Teste Cloze - Previsibilidade</h2>
            <p>Olá! Você está na tela inicial de uma tarefa que necessita da sua colaboração! Obrigado por participar!</p>
            <p>Essa tarefa consiste em fazer você tentar adivinhar o que vem escrito em um parágrafo. Você verá um exemplo, e irá passar por uma fase de treinamento.</p>
            <p>Se concordar participar desta pesquisa, por favor, leia o texto (TCLE simplificado) abaixo e clique em concordar. Caso contrário, agradecemos sua boa vontade de ter lido até aqui.</p>

            <!--
            <p style="color:red;">TO DO: Trocar o vídeo!!!</p>
            <div style="text-align: center;margin-bottom: 30px;">
              <iframe width="100%" height="400px" src="https://www.youtube.com/embed/SPZ1J1iXon4?autoplay=0"></iframe>
            </div>
            -->

            <h4>TERMO DE CONSENTIMENTO LIVRE E ESCLARECIDO:</h4>
            <div>
              <p>Gostaríamos de convidá-lo(a) para participar como voluntário(a) da pesquisa do projeto RASTROS, que tem por objetivo
                construir um grande corpus com medidas de RASTReamento Ocular e normas de previsibilidade durante a leitura de
                estudantes do ensino Superior no Brasil. Este é um projeto multicêntrico (UFC, PUC-Rio, ICMC/USP, UFABC, UERJ e UTFPR-
                campus de Toledo), que tem como centro coordenador a Universidade de São Paulo, sendo a pesquisadora coordenadora
                geral a Profa. Sandra Maria Aluísio, do Programa Pós-Graduação em Ciências de Computação e Matemática Computacional
                (PPG-CCMC) do ICMC/USP, trabalhando conjuntamente com a Profas. Elisângela Nogueira Teixeira (UFC) e a 
                Erica dos Santos Rodrigues (PUC/RJ).</p>
              <p>A pesquisa compreende duas grandes etapas de coleta de dados sobre processos de leitura:</p>
              <ol>
                <li>coleta de informações sobre previsibilidade de ocorrência de palavras do português em textos de natureza jornalística e
                  de divulgação científica a partir da aplicação, pela internet, de um teste Cloze;</li>
                <li>coleta de dados de oculares, por meio de um equipamento de rastreamento ocular, durante a leitura silenciosa de
                  fragmentos de texto.</li>
              </ol>
              <p>Você está sendo convidado a participar da etapa (1) da coleta de dados: teste Cloze. A seguir detalhamos informações sobre
                essa etapa e em que consiste o teste.</p>
              <p><b>OBJETIVOS:</b> O objetivo desta etapa específica é verificar como adultos, cursando nível superior, são capazes de prever a
                ocorrência de palavras à medida que um determinado texto é lido de modo a poder determinar o grau de previsibilidade
                destas nos contextos linguísticos examinados.</p>
              <p><b>JUSTIFICATIVA:</b> De um ponto de vista teórico, o estudo irá contribuir para desenvolvimento de pesquisas em
                Psicolinguística e Processamento de Linguagem Natural voltadas para compreensão do processo de leitura e para o
                desenvolvimento de métricas de complexidade linguística. De um ponto de vista aplicado, o estudo tem potencial de gerar
                descrições teóricas úteis para a elaboração de estratégias de identificação de fatores que podem representar
                custo/dificuldades de leitura e propostas de intervenção em casos particulares de indivíduos com algum tipo de
                comprometimento nesse processo.</p>
              <p><b>PROCEDIMENTOS:</b> Você irá preencher, em um computador, um formulário on-line, no qual será solicitado a realizar um
                teste Cloze, o qual consiste no preenchimento de lacunas em parágrafos curtos de textos cujas sentenças são apresentadas
                à medida que as lacunas são completadas. <b>Um exemplo de parágrafo com 3 sentenças segue abaixo:</b></p>
              <p><b><i>Não é Atlântida, ilha lendária que teria afundado, mas Zelândia, um continente real, situado no sudoeste do oceano
                Pacífico, cujo território de 4,9 milhões de quilômetros quadrados se encontra 94% submerso. Entre os 6% que estão acima
                do nível do mar, destacam-se as duas ilhas que formam a Nova Zelândia (inspiração para o nome do continente) e o
                arquipélago da Nova Caledônia.</i></b></p>
              <p><b>A apresentação dos parágrafos inicia com um única palavra. No exemplo acima, iniciaria com a palavra “Não”, seguida
                de uma lacuna:</b></p>
              <p><b>Não <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></b></p>
              <p>Para preencher cada lacuna, deverá digitar uma palavra que, em sua avaliação, permite dar sequência ao material
                linguístico previamente lido. Tão logo digite uma palavra, o texto com a forma esperada na lacuna será apresentado e uma
                nova lacuna surgirá. <b>Para cada nova sentença do parágrafo a palavra inicial é apresentada.</b> Este mesmo procedimento será
                repetido até que o parágrafo seja completado.</p>
              <p>Em seguida, um novo fragmento de texto será apresentado. No total, você deverá preencher 5 parágrafos, e a tarefa terá
                uma duração média de 20 minutos. Você terá uma fase de treino com um parágrafo para se familiarizar com o
                procedimento.</p>
              <p><b>No início do teste, receberá um questionário sociodemográfico, com algumas perguntas sobre: sexo, idade, curso,
                período de graduação e história linguística, como segue abaixo:</b></p>
              <ul>
                <li>Qual seu sexo?</li>
                <li>Qual sua idade?</li>
                <li>Qual seu curso de graduação?</li>
                <li>Em que semestre/ano está atualmente?</li>
                <li>Você fala outra língua fluentemente? Enumere os cursos de línguas que fez/faz se a resposta da pergunta for positiva.</li>
              </ul>

              <p><b>DESCONFORTOS E RISCOS ESPERADOS:</b> Os riscos na pesquisa são mínimos, similares aos envolvidos em tarefas que
                envolvem leitura e preenchimento de formulários simples na internet. Como a tarefa será disponibilizada na internet, você
                poderá selecionar o horário mais conveniente e o local mais adequado para realizá-la. Você encontra-se livre, contudo,
                para encerrar a atividade a qualquer momento, caso desista de colaborar para a pesquisa, sem que essa atitude implique
                qualquer tipo de prejuízo para você.</p>
              <p><b>BENEFÍCIOS PARA OS PARTICIPANTES:</b> Você não pagará e nem será remunerado(a) por sua participação. Sua participação
                voluntária irá, contudo, contribuir para as pesquisas, tanto em Psicolinguística quanto em Processamento de Línguas
                Naturais, sobre complexidade linguística e processamento da leitura. O projeto RASTROS busca construir um corpus com
                métricas de previsibilidade e dados de movimentos oculares que auxiliem a compreender melhor como as pessoas leem
                textos e o que pode representar custo, dificuldade nesse processo.</p>
              <p><b>DIVULGAÇÃO E CONFIDENCIALIDADE:</b> Esclarecemos que sua participação é totalmente voluntária, podendo: recusar-se a
                participar, ou mesmo desistir a qualquer momento, sem que isto acarrete qualquer ônus ou prejuízo a sua pessoa.
                Esclarecemos, também, que suas informações serão utilizadas para esta e futuras pesquisas que usem o corpus RASTROS e
                serão tratadas com o mais absoluto sigilo e confidencialidade, de modo a preservar a sua identidade. O corpus RASTROS
                será disponibilizado publicamente para download no The Open Science Framework (OSF) (https://osf.io/). Os resultados da
                pesquisa serão divulgados em eventos e publicações científicas, sendo mantido o anonimato dos participantes.</p>
              <p><b>INFORMAÇÕES ADICIONAIS:</b> Qualquer dúvida com relação à pesquisa poderá ser esclarecida com o pesquisador, conforme
                o endereço abaixo:</p>
              <p>Profa. Sandra Maria Aluísio<br/>
                Instituto de Ciências Matemáticas e de Computação da Universidade de São Paulo, em São Carlos<br/>
                Avenida Trabalhador São-carlense, 400 – Centro<br/>
                Bloco 4, Sala 4-208<br/>
                CEP: 13566-590 - São Carlos – SP.<br/>
                Telefones: (016) 33739663 e (16) 981121180,<br/>
                e-mail: sandra@icmc.usp.br</p>
              
              <p>Qualquer dúvida com relação aos aspectos éticos da pesquisa poderá ser esclarecida com:</p>
              <p>Comitê de Ética em Pesquisa em Seres Humanos (CEP) da Escola de Artes, Ciências e Humanidades<br/>
                (EACH) da Universidade de São Paulo (USP)<br/> 
                Rua: Arlindo Bettio, 1000<br/>
                CEP: 03828-000<br/>
                Bairro: Vila Guaraciaba, São Paulo/SP<br/>
                Prédio I1 | Sala T14<br/>
                Telefone: (11) 3091-1046<br/>
                Email CEP: cep-each@usp.br</p>

              <p>Este termo de consentimento encontra-se impresso em duas vias originais, sendo que uma será arquivada pelos
                pesquisadores responsáveis e a outra será fornecida a você. Os dados coletados na pesquisa ficarão arquivados com o
                pesquisador responsável por um período de 5 (cinco) anos. Decorrido este tempo, os pesquisadores avaliarão os
                documentos para a sua destinação final, de acordo com a legislação vigente. Os pesquisadores tratarão a sua identidade
                com padrões profissionais de sigilo, atendendo a legislação brasileira (Resolução Nº 466/12 do Conselho Nacional de
                Saúde), utilizando as informações somente para os fins acadêmicos e científicos.</p>

              <p>Eu, ____________________________________, CPF_________________, após a leitura deste documento e de ter tido a
                oportunidade de esclarecer todas as minhas dúvidas, acredito estar suficientemente informado(a), ficando claro para mim
                que minha participação é voluntária e que posso retirar este consentimento a qualquer momento sem penalidades ou
                perda de qualquer benefício. Estou ciente também dos objetivos da pesquisa, dos procedimentos aos quais serei
                submetido(a), dos possíveis danos ou riscos deles provenientes e da garantia de confidencialidade e esclarecimentos
                sempre que desejar.</p>

              <p>Diante do exposto expresso minha concordância de espontânea vontade em participar deste estudo.</p>

              </div>
              
  
            <div style="text-align: center;">
              <button onclick="showForm();" style="margin:30px;" id="btnContinue" class="default"><i class="fa fa-play fa-2x"></i><br/>Concordo com o termo e quero continuar</button>
            </div>
          </div>
        </div>
      </div>

      <div id="form" style="display:none">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <h2>Dados do Participante</h2>
            <p>Por favor, preencha os dados abaixo antes de continuar:</p>

            <label for="participantName">Qual seu nome?</label>
            <input type="text" id="participantName" placeholder="Nome"/>
            <label for="participantRG">Qual o número do seu RG?</label>
            <input type="text" id="participantRG" placeholder="0000000-0"/>
            <label for="participantAge">Qual sua idade?</label>
            <input type="text" id="participantAge" placeholder="00"/>
            <label for="participantGender">Qual seu sexo?</label>
            <input type="text" id="participantGender" placeholder="M/F"/>
            <label for="participantCourse">Qual seu curso de graduação?</label>
            <input type="text" id="participantCourse" placeholder="Curso"/>
            <label for="participantSem">Qual semestre está cursando atualmente?</label>
            <input type="text" id="participantSem" placeholder="0"/>
            <label for="participantLang">Você fala outra língua fluentemente? Enumere os cursos de línguas que fez/faz se a resposta da pergunta for positiva.</label>
            <input type="text" id="participantLang" placeholder="Língua a, Língua b"/>

            <p><br/><b>Informações opcionais:</b></p>

            <label for="participantOrg">Universidade:</label>
            <input type="text" id="participantOrg" placeholder="Universidade"/>
            <label for="participantEmail">Email:</label>
            <input type="text" id="participantEmail" placeholder="nome@exemplo.com"/>
            <label for="participantPhone">Telefone de contato:</label>
            <input type="text" id="participantPhone" placeholder="(00)00000-0000"/>
            <label for="participantCPF">CPF:</label>
            <input type="text" id="participantCPF" placeholder="000.000.000-00"/>
<!--
            <label for="participantBirthdate">Data de nascimento:</label>
            <input type="text" id="participantBirthdate" placeholder="dd/mm/aaaa"/>
            <label for="participantDegree">Grau de instrução:</label>
            <select id="participantDegree">
              <option value="">Selecione...</option>
              <option value="fund">Ensino Fundamental</option>
              <option value="med">Ensino Médio</option>
              <option value="sup">Ensino Superior</option>
              <option value="pos">Pós-Graduação</option>
            </select>
            <label for="participantOrg">Universidade:</label>
            <select id="participantOrg">
              <option value="">Selecione...</option>
              <option value="uspsc">USP - São Carlos</option>
              <option value="ufc">Universidade Federal do Ceará</option>
              <option value="pucrj">PUC - Rio de Janeiro</option>
              <option value="utfpr">Universidade Tecn. Federal Paraná - Toledo</option>
              <option value="ufabc">Universidade Federal do ABC</option>
              <option value="uerj">Universidade Estadual do RJ</option>
              <option value="outra">Outra</option> 
            </select>

            <label for="participantRA">Número de Registro:</label>
            <input type="text" id="participantRA" placeholder="Registro Acadêmico"/>
            <label for="participantSem">Semestre em curso:</label>
            <select id="participantSem">
                <option value="">Selecione...</option>
                <option value="1">1.o Semestre</option>
                <option value="2">2.o Semestre</option>
                <option value="3">3.o Semestre</option>
                <option value="4">4.o Semestre</option>
                <option value="5">5.o Semestre</option>
                <option value="6">6.o Semestre</option>
                <option value="7">7.o Semestre</option>
                <option value="8">8.o Semestre</option>
              </select>
  -->

              <p>Bem, agora você vai passar pela fase de treinamento para entender como se faz a tarefa. Preparado(a)? Clique no botão abaixo:</p>

            <div style="text-align: center;">
              <button onclick="continueTest('[[ .Code ]]')" style="margin:30px;" id="btnContinue" class="default"><i class="fa fa-play fa-2x"></i><br/>Continuar</button>
            </div>
          </div>
        </div>
      </div>

      <div id="train" style="display:none">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <h2>Treinamento</h2>
            <p>A princípio, você verá apenas a primeira palavra de um pequeno parágrafo, como abaixo. Seu papel é adicionar a palavra que você acredita vir a seguir. A cada palavra adicionada, o parágrafo será atualizado. Esse primeiro parágrafo é apenas um treino.</p>
            <p>A maneira mais fácil de entender é praticando, portanto, mãos à obra!</p>

            <p id="statusTestTrain" style="font-weight:bold;">Treinamento - Palavra x de xx</p>
            <p>(Digite a próxima palavra e depois tecle enter, ou clique no botão.)</p>

            <label id="clozeSentenceTrain" for="clozeWordTrain" class="clozeSentence">...</label>
            <input type="text" id="clozeWordTrain" placeholder="" class="clozeWord"/>
            <button onclick="nextWordTrainAction()" id="btnNextWordTrain" class="default" style="margin-top: 50px;">Próxima</button>

            <p style="display:none" class="clozeSentence" id="msgEndTrain">A fase de treinamento terminou. Agora, pedimos que fique atento e que complete com a palavra que vem à sua cabeça à medida que vai lendo o parágrafo. Lembramos que você lê apenas a primeira palavra de cada sentença. A partir da segunda, já é sua tarefa propor uma palavra para complementar o texto.</p>
            <button onclick="showApply()" style="display:none" id="btnShowApply" class="default" style="margin-top: 50px;">Começar o teste</button>
 
          </div>
        </div>
      </div>

      <div id="apply" style="display:none">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <p id="statusTest">Teste x de x - Palavra x de xx</p>
            <p>(Digite a próxima palavra e depois tecle enter, ou clique no botão.)</p>
            <label id="clozeSentence" for="clozeWord" class="clozeSentence">...</label>
            <input type="text" id="clozeWord" placeholder="" class="clozeWord"/>
            <button onclick="nextWordAction()" id="btnNextWord" class="default" style="margin-top: 50px;">Próxima</button>

            <p style="display:none" class="clozeSentence" id="msgEndParagraph">Parabéns! Você chegou ao final do parágrafo, agora vamos ao próximo!</p>
            <button onclick="nextParagraph()" style="display:none" id="btnNextPar" class="default" style="margin-top: 50px;">Próximo Parágrafo</button>
            
            <p style="display:none" class="clozeSentence" id="msgEndTest"><b>O teste foi finalizado. Parabéns! Agradecemos imensamente sua participação. Pode fechar essa página. Tudo foi gravado corretamente.</b></p>

          </div>
        </div>
      </div>

    </div>

  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/simpligo-pln.js?[[ .StaticHash ]]"></script>
  <script src="/static/js/cloze_apply.js?[[ .StaticHash ]]"></script>

</body>
</html>
