<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simpligo.pln</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation-flex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
  <link href="/static/css/simpligo-pln.css" rel="stylesheet">  
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">  
  <link href="/static/css/jquery-ui.css" rel="stylesheet">  


  <style type="text/css">
    .editor {
      border: solid 1px;
      height: 300px;
      border-color: black;
      padding: 10px;
    }
  
  </style>

</head>
<body>
  <a href="https://github.com/sidleal/simpligo-cloze"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  
  
<div id="header">
    <div id="logo">Simpligo.pln</div>
    <div id="slogan">Plataforma de Apoio à Simplificação na Língua Portuguesa</div>
    <div id="userInfo">[[ .Email ]] <a id="logout" href="#" onClick="logout()">( Sair )</a></div>
  </div>
  <div id="subheader"></div>
  
  
  <div class="row">
    <div class="small-12 centered columns">
      <div>  
        <div id="breadcrumb">: : cloze</div>
        <a class="btn btn-danger" onclick="back()" data-toggle="tooltip" title="Voltar">
          <i class="fa fa-arrow-left fa-2x"></i>
        </a>
      </div>
      
      <div id="menu">
        <div class="row">
          <div class="small-8 large-3 centered columns">
            <button onclick="newCloze()" id="btnNewCloze" class="natural"><i class="fa fa-file-o fa-2x"></i><br/>Novo Teste</button>
          </div>
        </div>
        <div class="row">
          <div class="small-8 large-3 centered columns">
            <button onclick="listCloze()" id="btnListCloze" class="natural"><i class="fa fa-th fa-2x"></i><br/>Meus Testes</button>
          </div>
        </div>
      </div>
  
      <div id="newCloze" style="display:none">
        <div class="row">
          <div class="small-12 large-8 columns centered">
            <label for="clozeName">Nome:</label>
            <input type="text" id="clozeName" placeholder="Nome"/>
            <label for="clozeCode">Código de acesso:</label>
            <input type="text" id="clozeCode" placeholder="Código de acesso (apenas letras e números)"/>
            <label for="clozeClasses">Quantidade de grupos (por ex: quantidade de gêneros, para melhor sortear os parágrafos):</label>
            <input type="text" id="clozeClasses" placeholder="Quantidade de gêneros textuais dos parágrafos"/>
            <label for="clozeQtyPar">Quantidade de parágrafos por participante (deve ser igual ou maior que a quantidade de grupos):</label>
            <input type="text" id="clozeQtyPar" placeholder="Quantos parágrafos cada particpante vai ler"/>
            <label for="textContent">Parágrafos (Se a quantidade de grupos for maior que um, a primeira palavra de cada parágrafo deve ser o identificador do grupo.):</label>    
            <textarea placeholder="Parágrafos, separados por enter" id="textContent" rows="20"></textarea>
            <label for="textContent">Termo de Consentimento:</label>    
            <textarea placeholder="Permite html básico" id="textTerm" rows="10"></textarea>
            <button onclick="saveCloze()" id="btnSaveCloze" class="default"><i class="fa fa-save fa-2x"></i><br/>Gravar</button>
          </div>
        </div>
      </div>

      <div id="clozeList" style="display:none">
        <p>(clique sobre o nome do teste para selecioná-lo)</p>
        <div id="details-container-cloze" class="details-container"> 
        </div>
      </div>

      <div id="paragraphs" style="display:none">
        <div id="details-container-paragraphs" class="details-container-lines"> 
        </div>
      </div>

    </div>

  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/simpligo-pln.js?[[ .StaticHash ]]"></script>
  <script src="/static/js/moment.min.js"></script>  
  <script src="/static/js/cloze.js?[[ .StaticHash ]]"></script>
</body>
</html>
