<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simpligo.pln</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation-flex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
  <link href="/static/css/simpligo-pln.css" rel="stylesheet">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">  
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '346173842588743',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.1'
      });
        
      FB.AppEvents.logPageView();

      FB.getLoginStatus(function(response) {
        // statusChangeCallback(response);
        console.log(response.status);
        console.log(response.authResponse.accessToken);

        if (response.status == 'connected') {
          FB.api('/me', function(response) {
             console.log(JSON.stringify(response));
             console.log(response.email);
             FB.api('/'+response.id, function(resp) {
              console.log(JSON.stringify(response));
            });
          }); 
        }

        // FB.login()
      });


    };
  
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
//        'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1&appId=346173842588743&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  </script>

  <a href="https://github.com/sidleal/simpligo-pln"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  
  
<div id="header">
    <div id="logo">Simpligo.pln</div>
    <div id="slogan">Plataforma de Simplificação para a Língua Portuguesa</div>
  </div>
  <div id="subheader"></div>
  
  <div class="columns log-in-form">
    <h4 class="text-center">Obrigado pela visita! Antes de começarmos preciso me lembrar de você:</h4>

    <div id="socialLogin">
        
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
  
        <button onclick="loginWithGoogle()" class="loginBtn loginBtn--google">
          Login with Google
        </button>
    </div>
    
    <label>Email
      <input type="text" placeholder="alguem@exemplo.com" id="email" />
    </label>
    <label>Senha
      <input type="password" placeholder="Senha" id="password"/>
    </label>
    <button onclick="login()" id="btnLogin">Login</button>
    <p class="text-center" onclick="alert('Oops. Não funciona ainda, vamos arrumar isso, prometemos.');"><a href="#">Esqueceu sua senha?</a></p>

    <p class="text-center"><a href="/privacidade">Termos de uso</a></p>
  

  </div>
  
  
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/simpligo-pln.js?[[ .StaticHash ]]"></script>
  <script>

    var jwtKey = sessionStorage.getItem('simpligo.pln.jtw.key');
    if (jwtKey != null && jwtKey != "null" && ![[ .SessionExpired ]]) {
      loadMenu();
    } 

    $('#password').keypress(function (e) {
      if (e.which == 13) {
         login();
      }
    });

    function login() {
      $.post( "/login", {email: $('#email').val(), pwd: $('#password').val()})
      .done(function(data) {
        sessionStorage.setItem('simpligo.pln.jtw.key', data);
        loadMenu();
      })
      .fail(function() {
        alert( "Humm... não consigo me lembrar de você, se tiver certeza que digitou tudo certo, avise a gente." );
      });

    }

  </script>

</body>
</html>
