<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simpligo.pln</title>
  <base href="/">

  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation-flex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
  <link href="/static/css/simpligo-pln.css" rel="stylesheet">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
        <div id="header">
                <div id="logo">Simpligo.pln</div>
                <div id="slogan">Plataforma de Apoio à Simplificação na Língua Portuguesa</div>
              </div>
              <div id="subheader"></div>
              
              <div class="columns log-in-form" style="width:80%; text-align: justify;">
<h3>Termos de Uso / Política de Privacidade </h3>

<h4>Seção 1 - O que faremos com esta informação?</h4>
<p>Quando você realiza alguma operação nesse site, coletamos as informações pessoais que você nos dá tais como: nome e e-mail.</p>
<p>Quando você acessa nosso site, também recebemos automaticamente o protocolo de internet do seu computador, endereço de IP, a fim de obter informações que nos ajudam a aprender sobre seu navegador e sistema operacional.</p>

<h4>Seção 2 - Consentimento</h4>
<p>Como vocês obtêm meu consentimento?</p>
<p>Quando você fornece informações pessoais como nome, telefone e endereço, para completar alguma operação no site. Após a realização de ações entendemos que você está de acordo com a coleta de dados para serem utilizados pelo site.</p>
<p>Se pedimos por suas informações pessoais por uma razão secundária, como marketing, vamos lhe pedir diretamente por seu consentimento, ou lhe fornecer a oportunidade de dizer não.</p>
<p>E caso você queira retirar seu consentimento, como proceder?</p>
<p>Se após você nos fornecer seus dados, você mudar de ideia, você pode retirar o seu consentimento para que possamos entrar em contato, para a coleção de dados contínua, uso ou divulgação de suas informações, a qualquer momento, entrando em contato conosco pelo <a href="https://github.com/sidleal/simpligo-cloze/issues" target="_blank">github</a>.</p>

<h4>Seção 3 - Divulgação</h4>
<p>Podemos divulgar suas informações pessoais caso sejamos obrigados pela lei para fazê-lo.</p>

<h4>Seção 4 - Serviços de Terceiros</h4>
<p>No geral, os fornecedores terceirizados usados por nós irão apenas coletar, usar e divulgar suas informações na medida do necessário para permitir que eles realizem os serviços que eles nos fornecem.</p>
<p>Entretanto, certos fornecedores de serviços terceirizados, tais como gateways de pagamento e outros processadores de transação de pagamento, têm suas    próprias políticas de privacidade com respeito à informação que somos obrigados a fornecer para eles de suas transações relacionadas com compras.</p>
<p>Para esses fornecedores, recomendamos que você leia suas políticas de privacidade para que você possa entender a maneira na qual suas informações pessoais serão usadas por esses fornecedores.</p>
<p>Em particular, lembre-se que certos fornecedores podem ser localizados em ou possuir instalações que são localizadas em jurisdições diferentes que você ou nós. Assim, se você quer continuar com uma transação que envolve os serviços de um fornecedor de serviço terceirizado, então suas informações podem tornar-se sujeitas às leis da(s) jurisdição(ões) nas quais o fornecedor de serviço ou suas instalações estão localizados.</p>
<p>Como um exemplo, se você está localizado no Canadá e sua transação é processada por um gateway de pagamento localizado nos Estados Unidos, então suas informações pessoais usadas para completar aquela transação podem estar sujeitas a divulgação sob a legislação dos Estados Unidos, incluindo o Ato Patriota.</p>
<p>Uma vez que você deixe o nosso site ou seja redirecionado para um aplicativo ou site de terceiros, você não será mais regido por essa Política de Privacidade ou pelos Termos de Uso do nosso site.</p>
<p><b>Links</b></p>
<p>Quando você clica em links no nosso site, eles podem lhe direcionar para fora do nosso site. Não somos responsáveis pelas práticas de privacidade de outros sites e lhe incentivamos a ler as declarações de privacidade deles.</p>

<h4>Seção 5 - Segurança</h4>
<p>Para proteger suas informações pessoais, tomamos precauções razoáveis e seguimos as melhores práticas da indústria para nos certificar que elas não serão perdidas inadequadamente, usurpadas, acessadas, divulgadas, alteradas ou destruídas.</p>

<h4>Seção 6 - Alterações para esta política de privacidade</h4>
<p>Reservamos o direito de modificar essa política de privacidade a qualquer momento, então por favor, revise-a com frequência. Alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação no site. Se fizermos alterações de materiais para essa política, iremos notificá-lo aqui que eles foram atualizados, para que você tenha ciência sobre quais informações coletamos, como as usamos, e sob que circunstâncias, se alguma, usamos e/ou divulgamos elas.</p>
</div>

</body>
</html>
